<style>
    .btn-choice-wrapper {
        text-align: center;
    }

    .btn-choice {
        display: block;
        margin: 0 auto;

        font-size: 20px;
    }
</style>

<div class="centered" style="width:100px;">
    <strong>Oh no!</strong>
    <br/>
    Did you close the download?
    <br/>
    <button class="btn btn-success" ng-click="showDownloadModal()">Open it again!</button>
</div>


<div ng-init="showDownloadModal()" id="downloadModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <img class="img-responsive pull-right" src="" ng-if="download.referrerId" ng-src="{{'https://i.spiget.org/' + download.referrerId}}" style="max-width: 200px;max-height: 200px;box-shadow: rgba(0,0,0,0.5) 4px 4px 8px;">
                <h1 class="modal-title">{{download.params.project ? download.params.project : ""}}</h1>
                <h2 class="text-muted" style="line-height: 0">{{download.params.version ? download.params.version : ""}}</h2>
            </div>

            <div class="modal-body" style="font-size: 18px">
                <strong>Hi!</strong> Thanks for downloading!
                <br/>
                Since you're downloading a free project, you have <strong>3 options:</strong>

                <div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="btn-choice-wrapper">
                        <button class="btn btn-success btn-choice choice-adfly" ng-disabled="!download.url.adfly" ng-click="download.go.adfly()">Download for free</button>
                        <span class="help-block">via adf.ly</span>
                    </div>

                    <p>
                        This is the easiest and cheapest way to support me, by just waiting 5 seconds for your download without having to pay anything!
                        <br/>
                        <strong>Doesn't that sound great?</strong>
                    </p>
                </div>

                <div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="btn-choice-wrapper">
                        <div ng-if="download.params.meta !== 'donateSuccess'">
                            <div class="input-group" style="width: 200px; margin: 0 auto;">
                                <div class="input-group-btn">
                                    <button class="btn btn-success btn-choice choice-donate" style="background-color: orange;" ng-disabled="!download.url.donate" ng-click="download.go.donate()">Donate</button>
                                </div>
                                <input class="form-control" type="number" min="1" max="99" placeholder="Amount" style="font-size: 20px; height: 48px; margin-left: 8px;" ng-model="download.donateAmount">
                                <span class="input-group-addon" style="font-size: 20px;">€</span>
                            </div>
                            <span class="help-block">and download afterwards</span>
                        </div>
                        <div ng-if="download.params.meta === 'donateSuccess'">
                            <strong>Thanks for donating!</strong>
                            <button class="btn btn-success btn-choice choice-adfly" style="background-color: orange;" ng-disabled="!download.url.direct" ng-click="download.go.donate_direct()">Download now</button>
                            <span class="help-block">&lt;3</span>
                        </div>
                    </div>

                    <p>
                        <strong>Of course you can also donate directly!</strong>
                        <br/>
                        I appreciate any amount you'd like to donate, even if it's just 1€ &lt3
                    </p>
                </div>

                <div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="btn-choice-wrapper">
                        <button class="btn btn-danger btn-choice choice-direct" ng-disabled="!download.url.direct" ng-click="download.go.direct()">Just go for it!</button>
                        <span class="help-block">No detours here</span>
                    </div>

                    <p>
                        You obviously can also just directly download the project, without supporting me financially.<br/>
                        I won't hate you for it, however <strong>I'd appreciate a change of mind if you enjoy your download ;)</strong>
                    </p>
                </div>

                <br/>
            </div>
            <div class="modal-footer">
                <span class="text-muted pull-left">
                    <a href="#" ng-click="submitIssue()">Download not working?</a>
                </span>
                <span class="text-muted pull-right">
                    Downloading from {{download.provider.friendlyName}}
                </span>
            </div>
        </div>
    </div>
</div>